# Database Settings
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=assetflow
POSTGRES_PORT=5432

# Authentication
SECRET_KEY=949f538fa62bb2b0bcad31f6c498305f88410b0a880be0e527f311c82ec5cc7c
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
